<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$Think.lang.Edit_equipment}</title>
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/base.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/user.css">
<link rel="stylesheet" href="__PUBLIC__/resource/common/js/validform/style.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
<script src="__PUBLIC__/resource/common/js/jquery.js"></script>
<script src="__PUBLIC__/resource/js/My97Date/WdatePicker.js"></script>
<script language="javascript">
$(document).ready(function(){
$("#IsAllOpens").click(function(){ 
     $("#IsAllCloses").attr('checked',false);
     $(this).attr('checked',true);
});
$("#IsAllCloses").click(function(){ 
     $("#IsAllOpens").attr('checked',false);
     $(this).attr('checked',true);
});
});
function aa(){
    var r=document.getElementById("IsMsgs");
         if(r.checked){
        // r.value=1;
		document.getElementById("IsMsg").value=1;
		 //alert(r.value);
       }else{
	  document.getElementById("IsMsg").value=0;
	  // alert(r.value);
	   }
   var m=document.getElementById("IsAllOpens");
         if(m.checked){
        // r.value=1;
		document.getElementById("IsAllOpen").value=1;
		document.getElementById("IsAllClose").value=0;
		 //alert(m.value);
       }else{
	  document.getElementById("IsAllOpen").value=0;
	  document.getElementById("IsAllClose").value=1;
	  // alert(r.value);
	   }
	var k=document.getElementById("IsAllCloses");
         if(k.checked){
        // r.value=1;
		document.getElementById("IsAllClose").value=1;
		document.getElementById("IsAllOpen").value=0;
		 //alert(r.value);
       }else{
	  document.getElementById("IsAllClose").value=0;
	  document.getElementById("IsAllOpen").value=1;
	  // alert(r.value);
	   }
}
</script>
<style>
	.s_1 {
	    float: right;
	    text-align: right;
	    /* color: #6eb805; */
	    padding-right: 50px;
	}
</style>
</head>

<body>
<!--header-->
<include file="Public:header" />
<!--end header--> 
<!--main-->
<div id="wp" class="wp"><link href="__PUBLIC__/user/css/style.css" rel="stylesheet" type="text/css" />
 <div class="contentmanage">
    <div class="developer">
       <div class="appTitle normalTitle" style="padding: 20px;">
        <h2>{$Think.lang.Center}</h2>
        <div class="accountInfo">
        
        </div>
        <div class="clr"></div>
      </div>
      <div class="tableContent">
        <!--左侧功能菜单-->
        <div class="sideBar">
          <div class="catalogList">
            <ul>
				<li class="subCatalogList" > <a href="__APP__/User/">{$Think.lang.Member}</a></li>
				<li class=" subCatalogList "> <a href="__APP__/User/add/">{$Think.lang.Add_member}</a> </li>
				<li class=" selected "> <a href="__APP__/Mobile/">{$Think.lang.Equipment}</a> </li>
				
				<li class=" subCatalogList "> <a href="__APP__/Type/">{$Think.lang.Model}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Type/add/">{$Think.lang.Add_model}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Time/">{$Think.lang.Time}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Time/add/">{$Think.lang.Add_time}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/useredit/">{$Think.lang.Information}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/pwd/">{$Think.lang.Change_password}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Mobile/usermobile/">{$Think.lang.UserMobile}</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/out/">{$Think.lang.Exit}</a> </li>
            </ul>
          </div>
        </div>

<div class="content">
          <div class="cLineB"><h4>{$Think.lang.Edit_equipment}</h4></div>
          <form method="post" action="__APP__/Mobile/update/id/{$mobile.Pid}" enctype="multipart/form-data" class="Machineryfrom">
          <div class="msgWrap">
            <table class="userinfoArea" border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                  <tr>
                  <th><span class="red">*</span><label class="m_label c_label">{$Think.lang.Equipment_position}：</label></th>
                  <td class="touch1">
                  	<input type="text" class="px" datatype="*1-30" nullmsg="{$Think.lang.Equipment_position_n}" sucmsg="{$Think.lang.Crepass}" name="McName" value="{$mobile.McName}" tabindex="1" size="25" maxlength="30">
                  </td>
				  <!--默认空调温度-->
				 <notempty name="McID2">
				  <td class="touch"><label>{$Think.lang.Default_Temperature}:</label>
				  <input type="hidden" name="McIDIrin" id="McIDIrin" value="{$McID2}">
				  <select name="KeyVar">
				  	 <volist name="IrinfoList" id="va" >
				  		<option value="{$va.KeyVar}" <eq name="KeyVar" value="$va.KeyVar">selected</eq>>{$va.KeyName}</option>
					</volist> 
				  </select>
				  </td>
				  </notempty>
				  <!--默认空调温度-->
                </tr>
              </thead>
			  <tbody>
				 <tr style="border-top:1px solid #eeeeee;background-color:#fcfcfc; padding:10px 0px">
                  <th>{$Think.lang.SMS}：</th>
                  <td><input type="checkbox" name="IsMsgs" id="IsMsgs" value="" class="px" <eq name="mobile['IsMsg']" value="1">checked</eq>>&nbsp;{$Think.lang.Sms_notification}
				  <input type="hidden" name="IsMsg" id="IsMsg">  <div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening}</div></td>
                </tr>
				
				  <tr style="border-top:1px solid #eeeeee;background-color:#fcfcfc; padding:10px 0px">
                  <th>{$Think.lang.Linkage_opening}：</th>
                  <td>
                  	
                  	<eq name="McID1" value="14">
                  	<!--开关联动开-->
					 <div id="tabon" class="box tab">
					 	        <ul>
							        <li class="on active">{$Think.lang.key1}</li>
							        <li class="off" >{$Think.lang.key2}</li>
							        <li class="off">{$Think.lang.key3}</li>
						        </ul>
						  <div class="box sho" id="keyon1">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOn01[]" id="LinkOn01[]" <foreach name="mLinkOn01" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  <div class="box hid" id="keyon2">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOn02[]" id="LinkOn02[]" <foreach name="mLinkOn02" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  
						  <div class="box hid" id="keyon3">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOn03[]" id="LinkOn03[]" <foreach name="mLinkOn03" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
					  </div>
					  <!--开关联动开-->
					 <else/>
					 <!--非开关联动开-->
						 <volist name="myMobile" id="vo" >
	               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOn[]" id="LinkOn[]" <foreach name="mLinkOn" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
	                     </volist>
					<!--非开关联动开-->
					</eq>
				  </td>
                </tr>
				<tr><th></th><td><div class="s_1" style="color:#6eb805">{$Think.lang.Master_Guan}</div></td></tr>
				<tr style="border-top:1px solid #eeeeee;background-color:#fcfcfc; padding:10px 0px">
                  <th>{$Think.lang.Linkage}：</th>
                  <td>
                  	<eq name="McID1" value="14">
                  	<!--开关联动关-->
					 <div id="taboff" class="box tab">
					 	        <ul>
							        <li class="on active">{$Think.lang.key1}</li>
							        <li class="off" >{$Think.lang.key2}</li>
							        <li class="off">{$Think.lang.key3}</li>
						        </ul>
						  <div class="box sho" id="keyon1">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOff01[]" id="LinkOff01[]" <foreach name="mLinkOff01" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  <div class="box hid" id="keyon2">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOff02[]" id="LinkOff02[]" <foreach name="mLinkOff02" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  
						  <div class="box hid" id="keyon3">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="LinkOff03[]" id="LinkOff03[]" <foreach name="mLinkOff03" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
					  </div>
					  <!--开关联动关-->
					<else/>
					 <!--非开关联动关-->
						<volist name="myMobile" id="vo" >
	                  	 <span class="bbox1"><label><input type="checkbox" name="LinkOff[]" id="LinkOff[]" <foreach name="mLinkOff" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
						</volist>
					 <!--非开关联动关-->
					</eq>
				</td>
                </tr>
				<tr><th></th><td><div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening2}</div></td></tr>
				<tr style="border-top:1px solid #eeeeee;background-color:#fcfcfc; padding:10px 0px">
                  <th>{$Think.lang.Anti_linkage}：</th>
                  <td>
                  	<eq name="McID1" value="14">
	                 <!--开关反联动关-->
					 <div id="tabon_off" class="box tab">
					 	        <ul>
							        <li class="on active">{$Think.lang.key1}</li>
							        <li class="off" >{$Think.lang.key2}</li>
							        <li class="off">{$Think.lang.key3}</li>
						        </ul>
						  <div class="box sho" id="keyon1">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkon_off01[]" id="Linkon_off01[]" <foreach name="mLinkon_off01" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  <div class="box hid" id="keyon2">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkon_off02[]" id="Linkon_off02[]" <foreach name="mLinkon_off02" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  
						  <div class="box hid" id="keyon3">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkon_off03[]" id="Linkon_off03[]" <foreach name="mLinkon_off03" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
					  </div>
					  <!--开关反联动开-->				
					<else/>
					<!--非开关反联动开-->
						<volist name="myMobile" id="vo" >
                  		 <span class="bbox1"><label><input type="checkbox" name="LinkOn_Off[]" id="LinkOn_Off[]" <foreach name="mLinkOn_Off" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
						 </volist>	
				    <!--非开反联动开-->			
					</eq>
					</td>
                </tr>
                <tr>
                <tr><th></th><td><div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening3}</div></td></tr>
				<tr style="border-top:1px solid #eeeeee;background-color:#fcfcfc; padding:10px 0px">
                  <th>{$Think.lang.Anti_linkage2}：</th>
                  <td>
                  	<eq name="McID1" value="14">
                  	 <!--开关反联动关-->
					   <div id="taboff_on" class="box tab">
					 	        <ul>
							        <li class="on active">{$Think.lang.key1}</li>
							        <li class="off" >{$Think.lang.key2}</li>
							        <li class="off">{$Think.lang.key3}</li>
						        </ul>
						  <div class="box sho" id="keyon1">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkoff_on01[]" id="Linkoff_on01[]" <foreach name="mLinkoff_on01" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  <div class="box hid" id="keyon2">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkoff_on02[]" id="Linkoff_on02[]" <foreach name="mLinkoff_on02" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
						  
						  <div class="box hid" id="keyon3">
							  <volist name="myMobile" id="vo" >
			               	 	   <span class="bbox1"><label><input type="checkbox" name="Linkoff_on03[]" id="Linkoff_on03[]" <foreach name="mLinkoff_on03" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span>
			                  </volist>
						  </div>
					  </div>
					  <!--开关反联动关-->
					 <else/>
                  	<volist name="myMobile" id="vo" >
                  	 <span class="bbox1"><label><input type="checkbox" name="LinkOff_On[]" id="LinkOff_On[]" <foreach name="mLinkOff_On" item="vt"><eq name="vt" value="$vo.Pid">checked</eq></foreach> value="{$vo.Pid}" class="px">&nbsp;&nbsp;{$vo.McName}&nbsp;&nbsp;</label></span></volist>
					 </eq>
					 </td>
                </tr>
                <tr>
                  <th></th>
                  <td><button type="submit" class="btnGreen" id="saveSetting" onClick="aa()">{$Think.lang.Save}</button></td>
                </tr>
              </tbody>
            </table>
            
          </div>
		  <!--<input type="hidden" name="wMB" value="{$User.wMB}">-->
          </form>
        </div>
        
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <!--底部-->
  	</div>
<!--end main--> 
<!--footer-->
<script src="__PUBLIC__/resource/common/js/Validform.js"></script>
<script type="text/javascript">
	window.onload = function(){
	    var myTab = document.getElementById("tabon");
	    var myUl = myTab.getElementsByTagName("ul")[0];
	    var myLi = myUl.getElementsByTagName("li");
	    var myDiv = myTab.getElementsByTagName("div");
	    for(var i = 0; i<myLi.length;i++){
	        myLi[i].index = i;
	        myLi[i].onclick = function(){
				
	            for(var j = 0; j < myLi.length; j++){
	                myLi[j].className="off";
	                myDiv[j].className = "box hid";
	            }
	            this.className = "on";
	            myDiv[this.index].className = "box sho";
	        }
	      }
		var color = new Array();
		color[0] = "keyon1";
		color[1] = "keyon2";
		color[2] = "keyon3";
		$("#tabon").find('ul').children('li').each(function(e){
			  $(this).click(function(){
   				 $(this).addClass(color[e]);
 		 	  });
		})
	 	var myTaboff = document.getElementById("taboff"); 
	    var myUloff = myTaboff.getElementsByTagName("ul")[0];
	    var myLioff = myUloff.getElementsByTagName("li"); 
	    var myDivoff = myTaboff.getElementsByTagName("div");
	    for(var i = 0; i<myLioff.length;i++){
	        myLioff[i].index = i;
	        myLioff[i].onclick = function(){
	            for(var j = 0; j < myLioff.length; j++){
	                myLioff[j].className="off";
	                myDivoff[j].className = "box hid";
	            }
	            this.className = "on";
	            myDivoff[this.index].className = "box sho";
	        }
	    }
	 	$("#taboff").find('ul').children('li').each(function(e){
			  $(this).click(function(){
   				 $(this).addClass(color[e]);
 		 	  });
		})

	    var myTabon_off = document.getElementById("tabon_off"); 
	    var myUlon_off = myTabon_off.getElementsByTagName("ul")[0];
	    var myLion_off = myUlon_off.getElementsByTagName("li"); 
	    var myDivon_off = myTabon_off.getElementsByTagName("div");
	    for(var i = 0; i<myLion_off.length;i++){
	        myLion_off[i].index = i;
	        myLion_off[i].onclick = function(){
	            for(var j = 0; j < myLion_off.length; j++){
	                myLion_off[j].className="off";
	                myDivon_off[j].className = "box hid";
	            }
	            this.className = "on";
	            myDivon_off[this.index].className = "box sho";
	        }
	    }
	 	$("#tabon_off").find('ul').children('li').each(function(e){
			  $(this).click(function(){
   				 $(this).addClass(color[e]);
 		 	  });
		})
	 
	 	var myTaboff_on = document.getElementById("taboff_on"); 
	    var myUloff_on = myTaboff_on.getElementsByTagName("ul")[0];
	    var myLioff_on = myUloff_on.getElementsByTagName("li"); 
	    var myDivoff_on = myTaboff_on.getElementsByTagName("div");
	    for(var i = 0; i<myLioff_on.length;i++){
	        myLioff_on[i].index = i;
	        myLioff_on[i].onclick = function(){
	            for(var j = 0; j < myLioff_on.length; j++){
	                myLioff_on[j].className="off";
	                myDivoff_on[j].className = "box hid";
	            }
	            this.className = "on";
	            myDivoff_on[this.index].className = "box sho";
	        }
	    }
		
	    $("#taboff_on").find('ul').children('li').each(function(e){
			  $(this).click(function(){
   				 $(this).addClass(color[e]);
 		 	  });
		})
	 }
$(function(){
	var demo=$(".Machineryfrom").Validform({
			tiptype:3,
			label:".m_label",
			showAllError:false,
			datatype:{
				"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/,
				"ip":/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
			},
			ajaxPost:false
		});
})
</script>
<include file="Public:footer" />
<!--end footer--> 
</body>
</html>
